.cli-comp-p{
    text-align: center;
    justify-content: center;
    display: block;
    margin: 0px auto;
    font-size: 30px;
}
.cli-comp-img{
    text-align: center;
    justify-content: center;
    display: block;
    margin: 0px auto;
}