<!--<app-header [isNotHome]="isNotHome"  [pageTitle]="pageTitle"></app-header> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
    <img src="../../../assets/img/coche.png" alt="Logo" slot="end" class="logo">
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img src="/assets/img/nico.jpg" alt="">
    </ion-avatar>
    <ion-card-title>Nicolás Díaz</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Futuro jugador profesional de CS:GO (+12 horas diarias), cursando la carrera de Analista Programador conocido como Nicolás Díaz con 19 años, 
      criador de dinosaurios en ARK y conocedor de la saga de transformers.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img src="assets/img/fabi.jpg" />
    </ion-avatar>
    <ion-card-title>Fabian Peñailillo</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Mi nombre es Fabián Peñailillo, tengo 21 años, soy estudiante de Analista programador, 
      con intencion de abandonar estos pasos y asi dedicarme al ciclismo y a ser un gymrat. Para asi vivir de mis campeonatos y llevar a Chile a la historia en el ciclismo.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img src="/assets/img/vale.jpg" alt="">
    </ion-avatar>
    <ion-card-title>Valentina Yalul</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Soy Valentina Yalul y tengo 22 años estudio la carrera de Analista Programador, 
      quiero dedicarme a la seguridad informática, me gusta jugar Valorant y CS:GO.
  </ion-card-content>
</ion-card>
</ion-content>
