ion-avatar {
    text-align: center;
    justify-content: center;
    display: block;
    margin: 0px auto;
  }
ion-card-title{
    text-align: center;
}
ion-card-content{
    text-align: center;
}

.logo{
    padding-right: 10px;
    height: 25px;
   
}
