<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <img src="../../../assets/img/coche.png" alt="Logo" slot="end" class="logo">
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card >
    <ion-card-header>
      <img src="/assets/img/viaje.jpg" alt="viaje">
      <ion-card-title>Planifica tu viaje </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur et.
    </ion-card-content>



 
